*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  display: block;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.images {
  column-gap: 10px;
  column-count: 3;
  column-fill: balance;
}

.image {
  display: block;
  width: 100%;
  position: relative;
  vertical-align: top;
  margin-bottom: 10px;
}

.image img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0;
  backface-visibility: hidden;
}

.image-download::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(to bottom right, transparent 65%, black);
}

.image-download::after {
  content: "Click to Download";
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
  text-align: right;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.image-download::before,
.image-download::after {
  transition: opacity 0.2s ease-in-out;
}

.image-download:hover {
  cursor: pointer;
}

.image-download {
  display: block;
}

.image-download:hover::before,
.image-download:hover::after {
  opacity: 1;
}

.search {
  margin: 10px 0 20px;
  border-bottom: 1px solid lightgray;
  font-size: 18px;
}

.search input {
  display: block;
  width: 100%;
  border: none;
  appearance: none;
  padding: 10px;
  outline: none;
  font-size: 100%;
}

footer {
  margin-top: 60px;
  text-align: center;
  color: rgba(0, 0, 0, 0.25);
}

.logo {
  max-width: 125px;
  animation: spin 11s infinite linear;
}

.logo g {
  fill: rgba(0, 0, 0, 0.2);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

@media only screen and (max-width: 992px) {
  .images {
    column-count: 2;
  }

  .image-download::before,
  .image-download::after {
    opacity: 1;
  }
}

@media only screen and (max-width: 640px) {
  .images {
    column-count: 1;
  }
}
