*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  display: block;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.images {
  column-gap: 10px;
  column-count: 3;
  column-fill: balance;
}

.image {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-bottom: 10px;
}

.image img {
  display: block;
  max-width: 100%;
  margin: 0;
  backface-visibility: hidden;
}

.image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.image::after {
  content: "Click to Download";
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
  text-align: right;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.search {
  margin: 10px 0;
  border: 1px solid lightgray;
  font-size: 15px;
}

.search input {
  display: block;
  width: 100%;
  border: none;
  appearance: none;
  padding: 10px;
  outline: none;
  font-size: 100%;
}

@media only screen and (max-width: 992px) {
  .images {
    column-count: 2;
  }
}

@media only screen and (max-width: 640px) {
  .images {
    column-count: 1;
  }
}
