.wrapper {
  display: block;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.images {
  column-count: 3;
  column-fill: balance;
}

.image {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

.image img {
  max-width: 100%;
  backface-visibility: hidden;
}

@media only screen and (max-width: 1200px) {
  .images {
    column-count: 2;
  }
}
